@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

body {
    margin: 0 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

.create_story_form form p {
    display: flex;
    justify-content: space-between;
    width: 700px;
}


.create_story_form form input, .create_story_form form textarea{
    width: 500px;
}

.create_story_form form > input {
    margin-left: 600px;
    width: 100px;
    padding: 10px 20px;
    border-radius: 100px;
    border: black 1px solid;
}

button {
    border: black 1px solid;
    border-radius: 30px;
    padding: 3px 5px;
}

button:hover {
    background-color: #000;
    color: white;
}

button:hover a {
    color: white;
}